<lj-raw><div style="width:360px;margin:0 auto;background:#ddd url(https://images.pexels.com/photos/3894157/pexels-photo-3894157.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)center;background-size:cover;box-shadow:2px 2px 2px 1px rgba(0,0,0,0.1);font-family:georgia,serif;text-transform:lowercase;font-size:12px;color:#111;line-height:1;padding:40px;box-sizing:border-box;">
	<div style="background:#fff;padding:50px;text-align:left;">


		<!--TITLE-->
		<div style="margin:0 0 10px 0;letter-spacing:3px;font-size:22px;font-weight:bold;text-align:center;">
			Welcome, Waterbender!
		</div>


		<!--CONTENT-->
		<div style="display:flex;align-items:flex-end;flex-wrap:wrap;margin:10px 0 0 0;line-height:2.5;">


			<!--CREDIT LINE-->
			<b style="width:100%;text-align:right;">My name is Maladuq, and I am your Chief now! I advise you to read the rules and guidelines first.
<br>
Rules: link here
<br>
Guidelines: link here
<br>
Then read through our club: link here <br><br> 
        
Here at WoBA you can learn more than just water bending. If you want to rise in your rank gain more abilities, you need to take at least 6 classes and pass 6 exams during Exam Week.
<br> <br>
You have been given 500 gold pieces. You can use them to buy your class supplies and some food and drinks. To make more money, take it to the bank of Yuan in the Earth Kingdom. You will gain interest by logging in every day. Solve Iroh's Wisdom Riddles and Azula's Scheme Anagrams, complete and grade homework. 
<br> <br>
Doing that will also gain you points for our Nation Pride, an annual competition between the four nations.
<br> <br>
If you have questions, just answer to this message.

Thanks you,

Maladuq Navrik</b>
			<div style="margin:0 0 0 10px;">
				<a href="URL" style="text-decoration:none;color:#57C6AF;"> 
			</div>


		</div>


	</div>
</div></lj-raw>