<div>
  <h1 class="font-bold text-4xl">Warning!!</h1>
  <p>Sorry you are not admin in the page</p>
</div>
  <%= link_to 'Back to notes', notes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
